*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background:linear-gradient(to right,#041E25 , #07404A , #74B5BD );
}
h1{
  color: white;
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
}
.todo-app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background-color: white;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h2{
  margin-top:100px;
  margin-bottom: 50px;
  color: #07404A;
  font-size: 24px;
}

.complete{
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form{
  margin-bottom: 32px;
}

.todo-input{
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #07404A;
  outline: none;
  width: 320px;
  background-color: transparent;
  color: #07404A;
}

.todo-input::placeholder{
  color: #07404A;
}

.todo-button{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #07404A;
  color: white;
  text-transform: capitalize;
}
.todo-button:hover{
  background-color: transparent;
  color: #07404A;
  border: 1px solid #07404A;
  border-radius: 0 4px 4px 0;
  padding: 15px;
}
.todo-input.edit{
  border: 2px solid #07404A;
}
.todo-button.edit{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #07404A;
  color: white;
  text-transform: capitalize;
  padding: 16px 22px;
}
.todo-button.edit:hover{
  background-color: transparent;
  color: #07404A;
  border: 1px solid #07404A;
  border-radius: 0 4px 4px 0;
  padding: 15px 21px;
}
.todo-container{
  display: flex;
  flex-direction: row;
  position: relative;
}
.todo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background-color: #041E25;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.todo-row:nth-child(odd){
  background-color: #07404A;
  color: white;
}
.todo-row:nth-child(even){
  background-color: white;
  color: #07404A;
}
.icons{
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.delete-icon{
  margin-right: 5px;
}